
<!DOCTYPE html>
<html>
    <head>
        <title>Songs</title>
    </head>
    <body>
        {% include "header.html" %}
        <div id="body">
            <p>Send a tab separated list of charts in the following format:</p>
            <table>
                <tr>
                    <td>title</td>
                    <td>difficulty(SPN, SPH etc.)</td>
                    <td>playtype(P1, P2, DP)</td>
                    <td>lamp (NP,F,AC,EC,NC,HC,EX,FC)</td>
                    <td>grade (F-AAA)</td>
                </tr>
            </table>
            <p>If you don't have either lamp or grade information, leave the cell empty.
            <p/>
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <input type="text" name="apikey" value="API key">
                <input type="file" id="file" name="file" accept=".csv,.txt">
                <input type="submit">
            </form>
        </div>
        {% include "footer.html" %}
    </body>
</html>
